@charset "UTF-8";

/**
Telas pequena: até 600px
Smartphone: 600px - 768px;
Tablet:     768px - 992px;
PC:         992px - 1200px;
TV:         acima de 1200px.
*/

@media screen and (min-width: 600px) {
    header>menu{
        text-align: center;
        background-color: rgba(29, 28, 28, 0.884);
        display: none;
     }

     header, main, footer{
        width: 80vw;
     }

     header>#span{
        background-color: darkgray;
        padding: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px black;
        display: block;
    }

    header>h1{
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    header>menu{
        text-align: center;
        background-color: rgba(29, 28, 28, 0.884);
        display: block;
     }

     header, main, footer{
        width: 80vw;
     }

     header>#span{
        background-color: darkgray;
        padding: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px black;
        display: none;
    }

    header>h1{
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 992px) { /** Televisão */
    header>menu{
        text-align: center;
        background-color: rgba(29, 28, 28, 0.884);
        display: block;
     }

     header, main, footer{
        width: 80vw;
     }

     header>#span{
        background-color: darkgray;
        padding: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px black;
        display: none;
    }

    header>h1{
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 1200px) { /** Televisão */
    header>menu{
        text-align: center;
        background-color: rgba(29, 28, 28, 0.884);
        display: block;
     }

     header, main, footer{
        width: 80vw;
     }

     header>#span{
        background-color: darkgray;
        padding: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px black;
        display: none;
    }

    header>h1{
        padding-bottom: 30px;
    }
}