@charset "UTF-8";

/**
Telas pequena: até 600px
Smartphone: 600px - 768px;
Tablet:     768px - 992px;
PC:         992px - 1200px;
TV:         acima de 1200px.
*/

@media print {
    header>#span{
        display: none;
    }
    header{
        margin-bottom: 30px;
    }
    header>h1{
        color: black;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 0.4em;
    }
}

@media screen and (min-width: 768px) {
    header>menu{
        display: block;
     }

     menu>ul>li{
        display:inline-block;
     }

     header, main, footer{
        width: 80vw;
     }

     header>#span{
        display: none;
    }

    header>h1{
        padding-bottom: 40px;
    }
}
